.list_check {
	padding-top: 15px;

	.item {
		display: flex;
		align-items: center;
		color: #646677;
		padding-bottom: 27px;

		img {
			margin-right: 17px;
		}
		&:last-child {
			padding-bottom: 0;
		}
	}
}
