.newsPage, .leftText {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	p {
		text-transform: uppercase;
		padding-bottom: 20px;
		color: #646677;
	}

	div {
		display: flex;

		a {
			margin-right: 20px;

			svg {
				transition: .3s;
				&:hover {
					cursor: pointer;
					transition: .3s;

					path {
						fill: #CB091E;
					}
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}

	}

}

.leftText {
	align-items: flex-start;
}

@media screen and (max-width: 768px) {
	.newsPage {
		margin: 40px 0 60px;
	}
}

@media screen and (min-width: 320px) and (max-width: 420px) {
	.leftText {
		align-items: center;
	}
}
