.list {
	padding: 40px 0 30px;
	.item {
		display: flex;
		p {
			text-transform: uppercase;
			color: #646677;
			padding-bottom: 10px;
		}
		.param {
			text-transform: none;
			margin-left: 5px;
			span {
				text-decoration: underline;
			}
		}
	}
}
