@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500;700&display=swap');


/* General Style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
}

input, a {
	color: #292A35;
}

textarea, input{
	-webkit-appearance: none;
	-webkit-border-radius:0;
	-moz-border-radius: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

body {
	font-family: 'Open Sans', 'Oswald', sans-serif;
	font-size: 16px;
	color: #292A35;
	line-height: 24px;
	background: #FAFAFA;
}

html {
	scroll-behavior: smooth;
}

/* End General Style */

/* Tabs News Page */

.tabsNews .react-tabs__tab-list {
	border-bottom: none !important;
}

.tabsNews .react-tabs__tab {
	border: none;
}

.tabsNews .react-tabs__tab--selected {
	border-color: transparent !important;
}

.tabsNews .react-tabs__tab--selected span {
	color: #DC3143 !important;
}

.tabsNews .react-tabs__tab--selected span svg path {
	fill: #DC3143;
}

/* End Tabs News */

/*  Tabs Mobile */

.tabsMobile .react-tabs__tab-list {
	background: #292A35;
	color: #BBBBC2;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	padding: 13px 0;
	margin-bottom: 30px;
}

.tabsMobile .react-tabs__tab {
	cursor: pointer;
}

.tabsMobile .react-tabs__tab--selected {
	color: #FFFFFF;
	position: relative;
	height: 100%;
}

.tabsMobile .react-tabs__tab--selected:after {
	content: '';
	position: absolute;
	background: #F8F8F8;
	width: 17px;
	height: 17px;
	bottom: -25px;
	right: 50%;
	transform: rotate(45deg);
	border-radius: 4px;
}

/* End Tabs Mobile */


/* Slick Slider Style */
.slick-slider {
	height: 100% !important;
	touch-action: auto;
	-ms-touch-action: auto;
}

.slick-dots li button {
	width: 12px;
	height: 12px;
}

.slick-slider .slick-dots li.slick-active button:before {
	color: transparent;
	opacity: 1;
	background: #FFFFFF;
}

.slick-slider .slick-dots li button:before {
	background: none;
	border-radius: 50px;
	opacity: 1;
	width: 12px;
	height: 12px;
	border: 2px solid #FFFFFF;
	font-size: 0px;
}

.slick-slider .slick-dots li button:before {
	border-radius: 50px;
	width: 8px;
	height: 8px;
}

.slick-dots li button:before {
	width: 12px;
	height: 12px;
	background: red;
	border: 2px solid red;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
}

.slick-slide img, .slick-list iframe {
	max-width: 100%;
}

	/* End Slick Slider Style */

.bm-item {
	display: inline-block;

	/* Our sidebar item styling */
	text-decoration: none;
	margin-bottom: 10px;
	color: #d1d1d1;
	transition: color 0.2s;
}

.bm-item-list {
	display: flex;
	flex-direction: column;
}

.menu-item {
	padding-bottom: 30px;
}


/* Change color on hover */
.bm-item:hover {
	color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 20px;
	height: 12px;
	left: 36px;
	top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
	top: 20px !important;
	right: 15px !important;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7 !important;
	width: 2px !important;
	height: 23px !important;
}

/* General sidebar styles */
.bm-menu {
	background: #FFFFFF;
	padding: 30px 30px;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	color: #292A35;
	position: relative;
}

.bm-menu-wrap {
	position: fixed;
	width: 70% !important;
	height: 100vh;
	transition: all 0.5s ease 0s;
	left: 0;
	margin-top: -5px;
}

.bm-burger-button {
	left: 1px;
	top: 20px;
	margin: 0px 29px 24px 10px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
	margin-top: -5px !important;
}



