.section {
	.section_content {
		padding-top: 40px;
	}

}

.container, .about_wrapper {
	max-width: 2040px;
	padding: 0 60px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.title {
		font-size: 24px;
		color: #292A35;
		font-family: 'Oswald', sans-serif;
		text-align: start;
		padding-bottom: 29px;
		text-transform: capitalize;
	}

	.section_text {
		max-width: 517px;

		.prev_text {
			color: #646677;

			&:nth-child(odd) {
				padding-top: 25px;
			}
		}
	}
}

.about_wrapper {
	padding: 0;
	.section_slide {
		padding-right: 60px;
		overflow-x: initial;
	}
}

.about_wrapper, .about_wrapper_mob {
	justify-content: flex-end;
	overflow-x: hidden;
	margin: 77px 0 88px;
	position: relative;
	z-index: 2;
	&:after {
		content: '';
		position: absolute;
		max-width: 522px;
		max-height: 666px;
		width: 100%;
		height: 100%;
		left: 0;
		background: url("/img/about/Hip.svg") no-repeat;
		background-size: contain;
		z-index: -1;
	}
	a {
		display: none;
	}
	.prev_text {
		max-width: 372px;
	}
	.section_text {
		margin-right: 128px;
	}
}

.about_wrapper_mob {
	position: static;
	&:after{
		background: none;
	}
	.title {
		font-size: 24px;
		color: #292A35;
		font-family: 'Oswald', sans-serif;
		text-align: center;
		padding-bottom: 29px;
		text-transform: capitalize;
	}
	.section_text {
		margin-right: 0;
	}
}

.section_slide {
	overflow-x: hidden;
	position: relative;
	padding: 60px 0;
	max-width: 890px;
	width: 100%;
	text-align: center;

	@media only screen and (max-width: 1920px) {
		width: 990px;
	}
	@media (min-width: 1200px) and (max-width: 1390px) {
		width: 650px;
	}

	&:after {
		content: "";
		z-index: -3;
		background: #E8E8EA;
		width: calc(100% + 400px);
		height: 100%;
		position: absolute;
		left: 120px;
		top: 0;
	}

	.carousel {
		width: 100%;
	}
}

@media screen and (min-width: 997px) and (max-width: 1199px) {
	.section_slide {
		max-width: 500px;
		padding: 25px 0;
		width: 100%;
	}
	.container, .about_wrapper {
		flex-wrap: wrap;
		padding: 30px 10px;
		.section_text {
			margin-right: 20px;
			max-width: 440px;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 995.9px) {
	.about_wrapper_mob, .about_wrapper {
		.section_text {
			margin-right: 25px;
		}
	}
	.container, .about_wrapper {
			padding: 0 10px;
	}
	.section_slide {
		overflow: hidden;
	}
}

@media screen and (min-width: 320px) and (max-width: 996px) {
	.container {
		flex-direction: column-reverse;
		padding: 0 10px;
		.section_text {
			max-width: 100%;
			padding-bottom: 60px;
			.title {
				font-size: 18px;
				padding-bottom: 15px;
			}
			.title_mob {
				text-align: center;
				padding-top: 15px;
			}
			.prev_text {
				&:nth-child(even) {
					padding-top: 15px;
				}
				&:nth-child(odd) {
					padding-top: 0;
				}
			}
		}
		.section_slide {
			margin-bottom: 0;
		}
	}
	.section_slide {
		width: 100%;
		padding: 20px 0;
		margin-bottom: 30px;
	}
}
