.main_item {
	margin: 6px;

	.image_list {
		display: block;
		position: relative;
		width: 380px;
		max-height: 240px;
		height: 100%;
		filter: drop-shadow(0px 6px 16px rgba(100, 102, 119, 0.2));
		transition: .5s ease-in;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.title {
		text-align: start;
		padding-top: 15px;
		color: #404149;
		letter-spacing:1px;
		font-weight: 400;
		font-size: 16px;
		overflow: hidden;
		width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.detail {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0 20px;
		margin-bottom: 65px;
		max-width: 370px;
		span {
			margin-top: 14px;
		}
	}
}


@media screen and (min-width: 481px) and (max-width: 768px) {
	.main_item {
		margin: 3px;
		display: flex;
		align-items: center;
		flex-direction: column;
		.image_list {
			min-width: 220px;
			height: auto;
			max-width: 360px;
			width: 100%;
		}
		.detail {
			margin-bottom: 30px;
		}
		h3 {
			max-width: 320px;
		}
	}
}




@media screen and (min-width: 320px) and (max-width: 480px) {
	.main_item  {
		margin: 0;
		.image_list {
			width: 100%;
			height: auto;
		}
		.detail {
			margin-bottom: 30px;
		}
	}
}
