.full_bg_slider {
	position: relative;
	height: auto;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	img {
		width: 100%;
	}

	.full_bg_slider_hand {
		width: 60px;
		height: 60px;
		border-radius: 50px;
		position: absolute;
		right: 50%;
		margin-right: -30px;
		top: 50%;
		margin-top: -30px;
		background: #ffffff url("/img/cursor.svg") no-repeat center;
		z-index:1111;
		pointer-events: none;
	}

	.full_bg_slider_before {
		z-index: 1;
	}

	.full_bg_slider_after {
		position: absolute;
		top: 0;
		z-index: 10;
		left: auto;
		right: 0;
		height: 100%;
		overflow: hidden;
		pointer-events: none;
		img {
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			height: 100%;
		}

		&:before {
			content: '';
			display: block;
			width: 4px;
			height: 100%;
			background: #DC3143;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
		}
	}
}
