
.advantages, .about_wrap {
	padding: 70px 0;

	.list_advantages {
		display: flex;
		flex-direction: column;
		padding-top: 90px;
	}

	.list {
		display: flex;

		.item_advantages {
			display: flex;
			align-items: center;

			.bg {
				width: 130px;
				height: 130px;
				padding: 30px 32px;
				background: #FFFFFF;
				box-shadow: 0px 6px 16px rgba(100, 102, 119, 0.2);
				transform: rotate(45deg);

				img {
					transform: rotate(-45deg);
				}
			}

			p {
				margin-left: 55px;
				max-width: 280px;
			}

			&:nth-child(even) {
				margin-left: 130px;
			}
		}

		&.top_list {
			justify-content: flex-start;
		}

		&.bottom_list {
			padding-top: 20px;
			justify-content: flex-end;

			.item_advantages {
				&:nth-child(even) {
					margin-left: 100px;
				}
			}
		}
	}

	&.about_wrap {
		h2 {
			font-size: 24px;
		}

		.bottom_list {
			padding-top: 45px;

			.item_advantages {
				&:nth-child(even) {
					margin-left: 90px;
				}
			}
		}

		.item_advantages {
			&:nth-child(even) {
				margin-left: 90px;
			}
		}
	}
}

@media screen and (min-width: 998px) and (max-width: 1119px) {
	.advantages, .about_wrap {
		.list {
			&.bottom_list {
				padding-top: 70px;
			}
		}
	}
}


@media screen and (max-width: 997px) {
	.advantages, .about_wrap {
		padding: 70px 0 0;
		.list_advantages {
			padding-top: 75px;
		}

		.list {
			.item_advantages {
				display: flex;
				align-items: center;
				flex-direction: column;
				padding-bottom: 65px;

				&:nth-child(even) {
					margin-left: 0;
				}
				p {
					padding-top: 44px;
				}
			}

			&.bottom_list {
				justify-content: space-around;
				.item_advantages {
					&:nth-child(even) {
						margin-left: 0;
					}
				}
			}
			&.top_list {
				justify-content: space-around;
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 762px) {
	.advantages, .about_wrap {
		.list {
			flex-direction: column;

			.item_advantages {
				text-align: center;
				max-width: 100%;
				p {
					margin-left: 0;
					padding-top: 45px;
				}
			}
		}
		&.about_wrap {
			.bottom_list {
				padding-top: 0;
			}
		}
	}
}
