.top {
	display: flex;
	justify-content: space-between;

	a {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		display: flex;
		align-items: center;
	}
	svg {
		margin-left: 9px;
	}
}
