.top {
	display: flex;
	justify-content: space-between;

	a {
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		display: flex;
		align-items: center;
	}
	.arrow_desk {
		margin-left: 9px;
	}
	.arrow_mob {
		margin-right: 9px;
	}
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
	.top {
		flex-direction: column-reverse;
		align-items: center;
		a {
			padding-bottom: 30px;
		}
	}
}
