$mainColor: #292A35;
$whiteColor: #ffffff;
$textColor: #393939;
$fillBtn: #DC3143;
$btnColor: #E71F34;
$bgColor: #E8E8EA;
$subtextProduct: #404149;
$socialHover: #CB091E;

@mixin flex($flex, $direction, $justify) {
	display: $flex;
	flex-direction: $direction;
	justify-content: $justify;
}

.container {
	max-width: 1940px;
	padding: 0 10px;
	width: 100%;
	margin: 0 auto;
}

.content_wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.subtitle {
	max-width: 767px;
	text-align: center;
	margin: 0 auto;
	color: #646677;
	line-height: 30px;
	padding-top: 16px;
}

.select_text {
	background: #E8E8EA;
	border-radius: 4px;
	font-size: 14px;
	color: #404149;
	text-transform: uppercase;
	padding: 4px 8px;
}

.in_list, .in_list_tabs {
	display: flex;
}

.in_list_center {
	justify-content: space-around;
}

.in_list_tabs {
	justify-content: space-between;
	margin-top: 40px;
}


.tabs {
	margin: 40px 0 50px;
	.in_list_tabs {
		flex-wrap: wrap;
	}
}

.tab1, .tab2, .tab3 {
	margin: 40px 0 0;
	.in_list {
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 0;
	}
	&.tab2 {
		.in_list {
			justify-content: space-around;
			flex-wrap: nowrap;
			padding: 0 0;
		}
	}
	&.tab3 {
		justify-content: space-around;
		padding: 0 0;
	}
}


.react-tabs__tab {
	border: none !important;
}

.react-tabs__tab-list {
	border-bottom: none !important;
}

.react-tabs__tab--selected {
	color: red !important;
	border: 2px solid red !important;
}

.btn_learn {
	padding: 11px 0;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #E71F34;
	text-transform: uppercase;
	color: #DC3143;
	font-family: 'Oswald', sans-serif;
	margin-top: 29px;
	transition: .3s ease;

	&:hover {
		transition: .3s ease;
		background-color: #DC3143;
		color: #FFFFFF;

		svg {
			path {
				fill: #FFFFFF;
			}
		}
	}

	svg {
		margin-left: 10px;
	}
}

.active {
	color: $fillBtn;
}

.main {
	margin-top: 91px;

	.slick-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: -40px;
	}

	.main_list, .main_list_pd {
		padding-top: 70px;
		display: flex;
		flex-direction: column;

		.bottom_list {
			position: relative;

			&:after {
				content: "";
				z-index: -3;
				background: url("/img/products/bg_products.svg") no-repeat;
				width: calc(100% + 200px);
				height: 100%;
				position: absolute;
				left: 470px;
				bottom: 270px;
			}
		}

		&.main_list_pd {
			padding-top: 0;
		}
	}

	.top_list {
		position: relative;

		&:after {
			content: "";
			z-index: -3;
			background: $bgColor;
			width: calc(100% + 200px);
			height: 100%;
			position: absolute;
			right: 620px;
			top: 0;
		}
	}

	.detail_info {
		.in_content {
			max-width: 681px;
		}

		.info_content {
			align-items: center;
		}

		.prev_text {
			padding-top: 20px;
			max-width: 681px;
		}
	}
}

.main_overlay {
	overflow-x: hidden;
}

.main_mob {
	margin-top: 58px;
}

.fixed_block {
	width: 32%;
	margin-top: 40px;
	padding-right: 5px;
	position: sticky;
	top: 130px;
}


.in_list {
	display: inline-flex;
	flex-wrap: wrap;
	padding: 40px 0;
}

.list_projects {
	justify-content: center;
	padding: 40px 0 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 420px) {
	.in_list {
		padding: 0 0;
	}
	.main {
		.top_list {
			&:after {
				content: "";
				z-index: -3;
				background: #E8E8EA;
				width: calc(100% + 32px);
				height: 265px;
				position: absolute;
				right: 59px;
				top: -15px;
			}
		}
	}
}

.title, .title_cap {
	font-size: 24px;
	color: $mainColor;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	text-transform: capitalize;
}

.title_mob {
	padding-top: 49px;
}

.center {
	padding-top: 49px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.title_cap {
		margin-top: 30px;
	}
}

.title_cap {
	font-size: 36px;
}

.title_cap_mob {
	font-size: 24px;
	padding: 40px 0 35px;
}

.slideRightDots {
	bottom: -30px !important;
}

.slideDotsWhite {
	bottom: 20px !important;
}

.slideRightDotsItem {
	border: 2px solid #646677;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 2px;
}

.slideLeftDotsItem {
	border: 2px solid #FFFFFF;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.slideRightDots :global(.slick-active) div {
	background: #646677;
}

.slideDotsWhite :global(.slick-active) div {
	background: #FFFFFF;
}

.main_wrapper {
	overflow-x: hidden;
}

.section {
	.in_wrap_slider {
		max-width: 990px;
	}
}

.slick-initialized .slick-slide .slick-list iframe {
	@media (min-width: 1200px) and (max-width: 1390px) {
		width: 650px;
		height: 400px;
	}
}

.section_bg {
	background: $bgColor;
	margin-top: 60px;

	.padding_wrap {
		padding-top: 80px;
	}

	.paddingBtm {
		padding-bottom: 60px;
	}

}

.section_bg_color {
	background: #E8E8EA;
}

.section_slider {
	padding-top: 60px;
}

.detail_wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


@media screen and (min-width: 1001px) and (max-width: 1244px) {
	.fixed_block {
		width: 35%;

		.title_cap {
			font-size: 26px;
		}
	}
}

@media screen and (max-width: 1000px) {
	.in_list {
		justify-content: space-around;
	}
	.detail_wrap {
		flex-direction: column-reverse;

	}
	.fixed_block {
		position: static;
		width: 100%;
	}
	.main {
		margin-top: 58px;
	}
}


@media screen and (max-width: 768px) {
	.in_list {
		justify-content: space-between;
	}
	.title_cap {
		font-size: 24px;
		line-height: 30px;
	}
	.btn_learn {
		margin: 35px auto 0;
	}
	.slideDotsWhite {
		bottom: 6px !important;
	}
	.section_bg {
		.padding_wrap {
			padding-top: 60px;
		}
	}
	.in_list_tabs {
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.in_list_center {
		justify-content: center;
	}
	.section_slider {
		.title_cap {
			margin-bottom: 35px;
		}
	}

	.tabs {
		margin: 20px 0 50px;
	}
}










