.fixed_overlay {
	position: fixed;
	overflow: auto;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: none;

	.info_wrap {
		padding: 20px;
		width: 50%;

		.title_modal {
			display: flex;
			align-items: end;
			justify-content: space-between;
		}
	}

	.top {
		display: flex;
		align-items: center;

		p {
			text-transform: uppercase;
			font-size: 14px;
			color: #646677;
			line-height: 19px;
			margin-left: 10px;
		}
	}

	.wrapper {
		width: 40px;

		img {
			width: 100%;
		}
	}

	.close {
		cursor: pointer;
		padding: 0 0 10px 10px;
	}

	.content {
		max-width: 514px;
		padding: 40px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		p:last-child {
			padding-top: 20px;
		}
	}

	.wrap {
		svg {
			margin-right: 5px;
		}
	}
}

.fixed_overlay_block {
	display: block;
}

.modal {
	z-index: 10000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 1180px;
	width: 100%;
	height: 500px;
	padding: 0 10px;

	.modal_container {
		background-color: #fff;
		border-radius: 4px;
		z-index: 10000;
		position: relative;
		display: flex;
		height: 500px;
	}

	.image_wrap {
		overflow: hidden;
		height: 100%;
		width: 50%;

		img {
			height: 100%;
			width: 100%;
		}

		.slick-slider {
			height: 100% !important;
		}
	}
}

.modal_mob {
	.modal_container {
		flex-direction: column;
		height: auto;
	}

	.title_modal {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px 10px;
	}

	.image_wrap {
		width: 100%;
	}

	.close {
		padding: 0;
	}

	.info_wrap {
		width: 100%;
		padding: 10px;

		.content {
			padding: 0;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
	.modal {
		height: auto;

		.modal_container {
			height: auto;
		}
	}
}


@media screen and (min-width: 360px) and (max-width: 480px) {
	.modal {
		top: 38%;
	}
}
