.in_wrap {
	margin: 0 60px;
	position: relative;
}
.carouselSlider {
	padding: 70px 0 70px;

	div {
		display: flex !important;
		align-items: center !important;

		img {
			min-width: 48px !important;
			width: 100% !important;
			height: auto !important;
			margin: 0 20px;
		}
	}

	.slick-list {
		margin: 0 60px !important;
	}
}

.prevArrow, .nextArrow {
	position: absolute;
	background-size: contain;
	border: none;
	width: 36px;
	height: 24px;
	cursor: pointer;
}

.prevArrow {
	left: -40px;
	background: url("/img/prev.svg") no-repeat center !important;
	background-size: contain;
	top: 76px;
}

.nextArrow {
	right: -40px;
	top: 76px;
	background: url("/img/next.svg") no-repeat center !important;
	background-size: contain;
}

