.section {
	padding-top: 60px;
}

.section_content {
	.container {
		max-width: 2040px;
		padding: 0 60px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}
}

.section_slide {
	position: relative;
	padding: 40px 0;
	max-width: 990px;
	width: 100%;
	text-align: center;

	@media only screen and (max-width: 1920px) {
		width: 990px;
	}
	@media (min-width: 1200px) and (max-width: 1390px) {
		width: 650px;
	}

	&:after {
		content: '';
		z-index: -3;
		background: #E8E8EA;
		width: calc(100% + 200px);
		height: 100%;
		position: absolute;
		right: 100px;
		top: 0;
	}

	.carousel {
		width: 100%;
	}
}

.section_text {
	max-width: 517px;
	margin-left: 95px;

	.title {
		font-size: 24px;
		color: #292A35;
		font-family: 'Oswald', sans-serif;
		text-align: start;
		padding-bottom: 29px;
		text-transform: capitalize;
	}
	.prev_text {
		color: #646677;

		&:nth-child(odd) {
			padding-top: 25px;
		}
	}
}

@media screen and (min-width: 997px) and (max-width: 1199px) {
	.section_slide {
		max-width: 500px;
		padding: 25px 0;
		width: 100%;
	}
	.section_content {
		.container {
			flex-wrap: wrap;
			padding: 0 10px;
		}
	}
	.section_text  {
		margin-left: 20px;
		max-width: 440px;
	}
}

@media screen and (min-width: 320px) and (max-width: 996px) {
	.section {
		padding-top: 33px;
	}
	.section_content {
		.container {
			flex-direction: column;
			padding: 0 10px;
		}
	}
	.section_slide {
		width: 100%;
		padding: 20px 0;
	}

	.section_text {
		margin-left: 0;
		padding-top: 10px;
		max-width: 100%;

		.title {
			font-size: 18px;
			padding-bottom: 15px;
		}

		.title_mob {
			text-align: center;
			padding-top: 15px;
		}

		.prev_text {
			&:nth-child(odd) {
				padding-top: 15px;
			}
		}
	}
}

