$mainColor: #292A35;
$bgColor: #E8E8EA;

.footer, .is_margin {
	.content_wrapper {
		max-width: 1200px;
		padding: 0 10px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}

	@mixin footer_styles {
		justify-content: center;
		align-items: center;
		display: flex;
		position: relative;
		height: 213px;

		a {
			position: absolute;
			bottom: 45px;
		}
	}

	.footer_top_bg {
		@include footer_styles;
		background: url("/img/footer1920.png") no-repeat center;

	}
	.list_footer_all {
		@include footer_styles;
		background: url("/img/1.png") no-repeat center;
		height: 83px;
	}

	.list_footer {
		background: $bgColor;
		padding: 25px 0;

		.in_item {
			display: flex;
			padding-bottom: 20px;

			svg {
				margin-right: 10px;
			}
		}
	}

	.footer_bottom_line {
		background: $mainColor;
		color: #FFFFFF;
		font-size: 14px;

		.content_wrapper {
			padding: 20px 0;
			align-items: center;

			.nav_footer {
				display: flex;
				align-items: center;
				width: 30%;
				a:nth-child(even) {
					padding: 0 23px;
				}
			}
			.copyright {
				width: 34%;
			}
		}
	}
}

.is_margin {
	padding-top: 70px;
}
